* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 20px;
}

a {
	text-decoration: none;
}

.wrapper {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.game__modes {
	margin-top: 10px;
	display: flex;
}

.dictionary {
	padding: 20px;
	max-width: 800px;
	border: 1px solid goldenrod;
	margin: 0 auto;
	margin-top: 10px;
	border-radius: 10px;
}

.title {
	text-align: center;
	padding-top: 20px;
}

.word__wrapper {
	width: 400px;
	margin: 10px auto;
	background: rgb(176, 253, 176);
	padding: 5px;
	border: 1px solid blueviolet;
	border-radius: 10px;
	display: flex;
	align-items: center;
}

.word__content {
	flex: 1 1 auto;
	display: flex;
	justify-content: space-around;
	gap: 15px;
}

.word__delete:hover {
	color: red;
	transform: scale(1.1);
}

.add-form {
	text-align: center;
}
